<div class="container">

    <div [hidden]="isVibrationSupported">
    <md-card class="alert-card">
        This browser does not support vibration
    </md-card>
    </div>

    <form #notificationForm="ngForm">

    <div class="form-group">
    <md-form-field>
        <input type="number" required step="1" pattern="\d+" mdInput placeholder="Short frequency" name="shortLength" [(ngModel)]="short.length">
    </md-form-field>

    <md-select required placeholder="Unit" floatPlaceholder="always" name="short" [(ngModel)]="short.unit">
    <md-option *ngFor="let unit of units" [value]="unit.value">
        {{ unit.viewValue }}
    </md-option>
    </md-select>


    </div>

    <div class="form-group">
    <md-form-field>
        <input type="number" required step="1" pattern="\d+" mdInput placeholder="Long frequency" name="longLength" [(ngModel)]="long.length">
    </md-form-field>

    <md-select required placeholder="Unit" floatPlaceholder="always" name="longUnit" [(ngModel)]="long.unit">
    <md-option *ngFor="let unit of units" [value]="unit.value">
        {{ unit.viewValue }}
    </md-option>
    </md-select>
    </div>

    <div class="form-group">
    <md-form-field>
        <input type="number" required step="1" pattern="\d+" mdInput placeholder="End time" name="endLength" [(ngModel)]="end.length">
    </md-form-field>

    <md-select required placeholder="Unit" floatPlaceholder="always" name="longUnit" [(ngModel)]="end.unit">
    <md-option *ngFor="let unit of units" [value]="unit.value">
        {{ unit.viewValue }}
    </md-option>
    </md-select>
    </div>

    <button
        md-raised-button
        color="primary"
        [disabled]="!notificationForm.form.valid || !isVibrationSupported "
        (click)="begin()">
        Begin</button>
    </form>

</div>
